@import "tailwindcss";

/* banner section start */
.banner-section {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-tittle h1 {
  font-family: Noto Serif;
  font-size: 65px;
  font-weight: 800px;
  text-align: left;
  width: 720px;
  margin-left: 50px;
  margin-top: 30px;
}
.banner-tittle p {
  text-align: left;
  width: 590px;
  margin-left: 50px;
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.banner-tittle span {
  color: rgb(233, 90, 8);
}
.banner-section img {
  width: 720px;
  border: 2px dashed rgba(0, 0, 0, 0.5);
}
/* banner section end */

/* Our plants start */
.plants-tittle {
  text-align: center;
  align-items: center;
  margin-top: 120px;
}
.plants-tittle h2 {
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
  width: 1440px;
}
.plants-tittle p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  margin-left: 270px;
  width: 900px;
}
.plants-tittle span {
  color: rgb(233, 90, 8);
}
.plants-section-parents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1440px;
  gap: 50px;
  padding-top: 50px;
}
.plants-section h5 {
  color: rgb(17, 17, 17);
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  padding-left: 70px;
  padding-top: 20px;
}
.plants-section h3 {
  color: rgb(17, 17, 17);
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  padding-left: 90px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.add-cart-btn {
  width: 270px;
  height: 50px;
  background-color: rgb(233, 90, 8);

  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* Our plants end */

/* Plants lover section start */

.plants-lover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}
.plants-lover h2 {
  color: rgb(0, 0, 0);
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
  width: 500px;
  padding-left: 100px;
}
.plants-lover ol {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  width: 650px;
  padding-left: 100px;
  line-height: 30px;
  list-style-type: disc;
}
.plants-lover li {
  padding-top: 30px;
}
.flower-store-img {
  width: 600px;
  height: 550px;
  margin-left: 50px;
}
.trusted-badge {
  position: absolute;
  top: 2090px;
  left: 560px;
  width: 250px;
  height: 250px;
}
/* Plants lover section end */

/* branch section start */
.branch-section {
  margin-top: 100px;
}
.branch-img {
  position: absolute;
}
.branch-tittle {
  position: relative;
}
.branch-tittle h2 {
  color: rgb(255, 255, 255);
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 20px;
}
.branch-tittle input {
  width: 500px;
  height: 50px;
  background-color: white;
  padding: 8px 20px 8px 20px;
  margin-left: 400px;
}
.branch-tittle button {
  cursor: pointer;
  width: 186px;
  height: 50px;
  color: white;
  background: rgb(233, 90, 8);
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}
/* branch section end */

/* footer section start */
.footer-section {
  height: 300px;
  margin-top: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-1st p {
  width: 350px;
  padding-top: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
}
.footer-2nd {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 50px;
}
.footer-3rd {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 50px;
}
.footer-4th {
  display: flex;
  gap: 30px;
  margin-bottom: 190px;
}
/* footer section end */

/* mobile responsive style start */ /* mobile responsive style start */

/* navbar responsive start */
@media screen and (max-width: 576px) {
  
  .navbar {
    width: 576px;
    margin-left: 0;
  }
  .list-1,
  .list-2,
  .list-3 {
    display: none;
  }
  .list-4 {
    margin-right: 230px;
    
  }
  .list-4 a {
    font-size: 20px;
  }
  .nav-logo img{
    width: 65px;
    height: 60px;
    padding-top: 20px;
  }

  /* navbar responsive end */

  /* banner responsive start */
  .banner-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-top: 30px;
  }
  .banner-tittle h1 {
    font-size: 30px;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 0;
  }
  .banner-tittle p {
    width: 340px;
    font-size: 20px;
    line-height: 25px;
    margin-left: 15px;
  }
  .banner-img img {
    width: 360px;
    height: 250px;
    margin-top: 20px;
    border: none;
  }
  /* banner responsive end */

  /* our plants section responsive start */

  .plants-tittle h2 {
    width: 370px;
    margin-top: 0;
    font-size: 40px;
  }
  .plants-tittle p {
    width: 330px;
    font-size: 15px;
    line-height: 20px;
    margin-left: 15px;
  }


  .plants-section-parents {
    width: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    margin-left: 10px;
  }
  .plants-section {
    width: 160px;
  }
  .plants-section h5{
    font-size: 18px;
    width: 200px;
    padding-left: 25px;
  }
  .plants-section h3{
    width: 200px;
    padding-left: 38px;
    padding-bottom: 20px;
  }
  .plants-section button {
    width: 160px;
    margin-bottom: 20px;
  }
  /* our plants section responsive end */

  /* Plants lover section responsive start */
  .plants-lover{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 20px;
  }
  .store-badge {
    display: none;
  }
  .store-flower {
    width: 330px;
    height: 330px;
    margin-left: 15px;
    padding-top: 0px;
  }
  .plants-lover-tittle h2{
    padding-left: 18px;
    width: 300px;
    font-size: 25px;
    padding-top: 10px;
  }
  .plants-lover-ol li{
    font-size: 16px;
    line-height: 20px;
    width: 300px;
  }
  .plants-lover ol{
    padding-left: 45px;
  }
  /* Plants lover section responsive end */


  /* latest-deal- section responsive start */
  .latest-deal-sizeing{
    width: 390px;
    margin: 0px 0px 0px;
    padding-left: 0px;
  }
  .latest-deal-tittle h2{
    width: 380px;
    padding-top: 0px;
    font-size: 30px;
    
  }
  .latest-deal-tittle p{
    width: 320px;
    padding-left: 0px;
    margin-left: 25px;
    font-size: 15px;
    line-height: 20px;
  }



  .latest-deals{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    padding-left: 0;
  }
  .latest-deals img{
    width: 360px;
    height: 193px;
    
  }
  .latest-deal-h5-1{
    margin-left: 70px;
    margin-top: 70px;
  }
  .latest-deal-a-1{
    margin-left: 130px;
    margin-top: 105px;
  }
  .latest-deal-h5-2{
    margin-left: 80px;
    margin-top: 290px;
  }
  .latest-deal-a-2{
    margin-left: 130px;
    margin-top: 325px;
  }
  .latest-deal-h3-3{
    margin-left: 70px;
    margin-top: 510px;
    font-size: 20px;
    font-weight: 700;
  }
  .latest-deal-a-3{
    margin-left: 130px;
    margin-top: 545px;
    font-size: 18px;
    font-weight: 600;
  }
  /* latest-deal- section responsive end */

/* Join the colorful branch responsive design start */

.branch-img img{
  width: 365px;
  height: 250px;
}
.branch-tittle h2{
  width: 370px;
  padding-top: 80px;
  font-size: 20px;
}
.branch-tittle input{
  width: 220px;
  margin-left: 25px;
  font-weight: bold;
}
.branch-tittle button{
  width: 90px;
  gap: 0;
  font-weight: bold;
}
/* Join the colorful branch responsive design end */

/* footer section responsive start */
.footer-section{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.footer-1st img{
  width: 180px;
  height: 130px;
  margin-left: 15px;
  margin-top: 0;
}
.footer-1st p{
  width: 350px;
  font-size: 16px;
  margin-left: 15px;
}
.footer-2nd{
  margin-left: 15px;
}
.footer-3rd {
  margin-left: 15px;
}
.footer-4th{
  margin-left: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
}
/* footer section responsive end */


}
