@import "tailwindcss";

.banner-section {
    margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-tittle h1 {
  font-family: Noto Serif;
  font-size: 65px;
  font-weight: 800px;
  text-align: left;
  width: 720px;
  margin-left: 50px;
  margin-top: 30px;
}
.banner-tittle p {
  text-align: left;
  width: 590px;
  margin-left: 50px;
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.banner-tittle span {
  color: rgb(233, 90, 8);
}
.banner-section img {
  width: 720px;
  border: 2px dashed rgba(0, 0, 0, 0.5);
}
